.title {
  display: flex;
  justify-content: center;
}
h1 {
  color: #eee4e5;
  font-weight: 100;
  font-size: 8rem;
  margin: 0;
}
.list {
  background-color: #f9f9f9;
  border: solid 1px #dfdfdf;
  width: 550px;
  margin: auto;
  color: #bfbfbf;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li ,
input {
  border: 1px solid #f7f5f5;
  margin: 0;
  padding: 15px 15px 15px 40px;
  font-weight: 200;
  font-size: 1.5rem;
  display: flex;
  background-color: #f9f9f9
}
input {
  width: 490px;
  outline: none;
  color: #bfbfbf;
}
input:hover {
  background-color: #fff;
}
input:focus,
input:active {
  border-color: transparent;

}
small{
  font-weight: 100;
}
.erase{
  margin-left: auto;
  color: rgb(160, 19, 19);
  display: none;
}
li:hover .erase {
  display: block;
}
.erase:hover{
  color: rgb(209, 21, 21);
  cursor: pointer;
}
.footer {
  padding:10px;
  margin: 0;
}
.border1,
.border2 {
  height: 5px;
  background-color: #f9f9f9;
  margin: auto;
  border: 1px solid #dfdfdf;
  border-top: 0px;
}
.border1 {
  width: 545px;
}
.border2{
  width: 540px;
}
